In [40]:
import pandas as pd
import numpy as np
from collections import Counter
from itertools import groupby

In [2]:
df = pd.read_csv('iplfix.csv')

In [3]:
df.head()

,date,time,match,ground,home,away,hometeam,awayteam
0,05-Apr-17,8:00 PM,Sunrisers Hyderabad v Royal Challengers Bangalore,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,hyderabad,bangalore
1,06-Apr-17,8:00 PM,Rising Pune Supergiants v Mumbai Indians,Pune,Rising Pune Supergiants,Mumbai Indians,pune,mumbai
2,07-Apr-17,8:00 PM,Gujarat Lions v Kolkata Knight Riders,Rajkot,Gujarat Lions,Kolkata Knight Riders,gujarat,kolkata
3,08-Apr-17,4:00 PM,Kings XI Punjab v Rising Pune Supergiants,Indore,Kings XI Punjab,Rising Pune Supergiants,punjab,pune
4,08-Apr-17,8:00 PM,Royal Challengers Bangalore v Delhi Daredevils,Bengaluru,Royal Challengers Bangalore,Delhi Daredevils,bangalore,delhi

In [30]:
home = list(df['hometeam'])
away = list(df['awayteam'])
homeaway = []
for i in range(len(home)):
    homeaway.append(home[i])
    homeaway.append(away[i])

In [5]:
len(homeaway)

112

In [96]:
matches = 5
ratio = []
mostocc = []
meanocc = []
for i in range(len(homeaway)):
    try:
        matchlist = homeaway[i:(i+(matches*2))]
        meanoccval = np.mean(Counter(matchlist).values())
        meanocc.append(meanoccval)
        mostcommon = Counter(matchlist).most_common(1)[0][0]
        maxoccurance = matchlist.count(mostcommon)
        mostocc.append(maxoccurance)
        setratio = float(len(set(matchlist)))/(matches*2)
        ratio.append(setratio)
    except:
        pass

In [97]:
print 'mean ratio', np.median(ratio)
print 'max matches', np.median(mostocc)
print 'mean matches', np.median(meanocc)

mean ratio 0.7
max matches 2.0
mean matches 1.25

In [70]:
np.mean(Counter(homeaway[0:10]).values())

1.25

In [42]:
def occurrence(a):
    occurrence, num_times = 0, 0
    for key, values in groupby(a, lambda x : x):
        val = len(list(values))
        if val >= occurrence:
            occurrence, num_times =  key, val
    return occurrence, num_times

In [44]:
test = [1,2,1,3,1,4]

In [45]:
occurrence(test)

(2, 1)